body {

}

h1 {
	background-color: #c0c0b0;
	margin: 0px;
	padding: 0px;
}

#userForm{
		border: 1px solid black;
		margin-top:10px;
		padding:10px;
		
}

#editUser {
	height: 150px;
	width:400px;
	border: 1px solid black;
	float:left;
	padding:10px;
}

#allUsers {
	height: 150px;
	width:200px;
	border: 1px solid black;
	float:left;
	margin-left:10px;
	padding:10px;
	margin-bottom:10px;
}

#allUsers select {
	width:100%;
	height:100%;
}

#clear {
	clear:both;
	
}

#userNav {
	
    clear:both;
    padding:20px;
    border: 1px solid black;
    width:611px;
    text-align:right;
}

.feedbackPanel {
	margin:0px;
	padding:10px;
	border: 1px black solid;
	 margin-bottom:10px;
	 width:631px;
}

.feedbackPanel  li{
	list-style: none;
	 
}

.infoFeedback span{
	background: url(../image/info.png) no-repeat center left; 	
	padding-left:30px;
	list-style: none;
    color: #ccc;
}


.warningFeedback span {
	background: url(../image/warning.png) no-repeat center left; 	
	padding-left:30px;
	list-style: none;
	color: #ff0000;
}