<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Benutzerverwalung</title>
</head>
<body>

	<wicket:panel>
		<div wicket:id="userViewFeedbackPanel" >
			<div id="test"></div>
		</div>
		<form wicket:id="formPanelId">
			<div>
				<div>
					<label wicket:id="userViewLabelFirstname" /> <input type="text"
						wicket:id="firstname" /> <label wicket:id="userViewLabelLastname" />
					<input type="text" wicket:id="lastname" />
				</div>
				<div>
					<select wicket:id="userViewUserlist" />
				</div>
			</div>
			<div>
				<input wicket:id="userViewSaveButton" type="submit" name="submit"
					value="Speichern" /> <input wicket:id="userViewCreateButton"
					type="button" name="submit" value="Neu" /> <input
					wicket:id="userViewRemoveButton" type="button" name="submit"
					value="Löschen" />
			</div>
		</form>
	</wicket:panel>
</body>
</html>